<% layout('layout') -%>
<div class="container containerCustom">
    <!-- Example row of columns -->
    <div class="row">
        <div class="col-md-3">
            <% include ./menu %>
        </div>
        <div class="col-md-9">
            <h2 class="page-header page-header-custom">Giỏ hàng hiện tại của bạn</h2>

            <% if(listBook && listBook.length){%>
                <table class="table table-hover listCart">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Tên cuốn sách</th>
                        <th>Số lượng</th>
                        <th>Đơn giá</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <% for(var i = 0; i < listBook.length; i++){%>
                        <tr>
                            <th scope="row"><%= i+1 %></th>
                            <td><%= listBook[i].title %></td>
                            <td>
                                <input type="hidden" class="bookId" value="<%= listBook[i]._id %>">
                                <input type="hidden" class="bookPrice" value="<%= listBook[i].price %>">
                                <input type="hidden" class="bookName" value="<%= listBook[i].title %>">
                                <input type="text" class="form-control numberBook" value="<%= listBook[i].number %>">
                            </td>
                            <td><%= listBook[i].price %>,000 đ</td>
                            <td>
                                <input type="hidden" value="<%= listBook[i]._id %>">
                                <button type="button" class="btn btn-warning deleteBtn">Xóa</button>
                            </td>
                        </tr>
                    <%}%>
                    </tbody>
                </table>
                <hr>
                <button type="button" class="btn btn-danger completeBtn">Thanh toán</button>
            <% }else{ %>
                <div class="noCategory">Bạn chưa mua cuốn sách nào cả</div>
            <% } %>
        </div>
    </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Xác nhận thanh toán</h4>
            </div>
            <div class="modal-body">
                <div class="content">Bạn chắc chắn muốn thanh toán giỏ hàng của bạn với tổng giá trị <b><span class="total"></span></b> chứ? </div>
                <div>Vui lòng nhập thông tin của bạn để tiện cho việc giao hàng:</div>
                <form>
                    <div class="form-group">
                        <label for="nameReceiver">Họ và tên người nhận:</label>
                        <input type="text" class="form-control" id="nameReceiver" placeholder="Họ tên">
                    </div>
                    <div class="form-group">
                        <label for="phoneReceiver">Số điện thoại:</label>
                        <input type="text" class="form-control" id="phoneReceiver" placeholder="Số điện thoại">
                    </div>
                    <div class="form-group">
                        <label for="addressReceiver">Địa chỉ nhận:</label>
                        <input type="text" class="form-control" id="addressReceiver" placeholder="Địa chỉ người nhận">
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-primary confirmBtn">Xác nhận</button>
            </div>
        </div>
    </div>
</div>

<script>
    $(function(){
        var listCart = [];
        var total = 0;
        $('.completeBtn').click(function(){
            $('.listCart tbody tr').each(function(){
                var price = parseInt($(this).find('.bookPrice').val());
                var bookName = $(this).find('.bookName').val();
                var number = parseInt($(this).find('.numberBook').val());
                var bookId = $(this).find('.bookId').val();
                total += price*number;
                listCart.push({
                    bookName: bookName,
                    number: number,
                    bookId: bookId
                });
            });
            $('.content .total').text(total+' đ');
            $('#myModal').modal('show');
        });
        $('.confirmBtn').click(function(){
            $.ajax({
                url: '/profile/complete',
                method: 'post',
                data: {
                    listBook: JSON.stringify(listCart),
                    total: total,
                    name: $('#nameReceiver').val(),
                    phone: $('#phoneReceiver').val(),
                    address: $('#addressReceiver').val()
                },
                success: function(){
                    window.location = "/profile/historyTransaction";
                },
                error: function(){
                    alert('Have error. Please try later!!!!');
                }
            });
        });
    });
</script>